.container{
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    
}
h1{
    font-size: 2rem;
    text-decoration: underline;
    margin: 30px 18px;
}

form{

    height: 10%;
    margin: 15px 20px;
    input{
        width: 200px;
        height: 30px;
    }
    button{
        width: 200px;
        height: 34px;
    }
}

li{
    display: flex;
    padding: 5px 4px ;
    width: 40Vw;
    justify-content: space-between;
}
